html{
    scroll-behavior: smooth;
}

.App {
    margin:0px;
    padding:0px;
}
.super{
    font-size:280%;
    color:rgb(127, 64, 187) ;
}
.super-2{
    font-size:200%;
    color:white ;
}
.App div{}
.section-1{ 
    background-image:url('../Image/entreprises.jpg');
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:240%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 0;
}

.imagA{
    background-color: rgb(63, 57, 57);
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.imagA div{
    margin-top: 15%;
    margin-left: 10%;
}
.section-2{ 
 
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
.section-2 div h2{
    color:rgb(127, 64, 187);
    text-align: center;
    font-size: 240%;
    margin-top:4%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.section-2 div p{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 180%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-3{ 
    background-color: rgb(127, 64, 187);
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    opacity: 0.9;
}

.section-3 div h2{
    color: white;
    text-align: center;
    font-size: 240%;
    margin-top:4%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logoMult {
   display: flex;
   justify-content: center;
   flex-flow: row wrap;
   align-items: center;
}

.logoMult div img{
    width:250px;
    height: 100px;
    margin: 20px;
    position:relative;
}
.section-4{ 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-4 div h2{
    color: rgb(63, 57, 57);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 240%;
    margin-top:3%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.section-4-corp{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.section-4-corp div{
    margin: 1%;
    color: rgb(127, 64, 187);
}
.section-4-corp div h3{
    margin: 5%;
    text-align: center;
}
.section-5{ 
    background-color: black;
    width: 100%;
    height: 50%;
    color:white;
    display: flex;
    justify-content: center;
    font-size: 100%;
}
.section-5 div{
    margin: 5%;
}
p{
    color: black;
    text-align: center;
}
.F b{color: rgb(0, 132, 255);}
.G b{color: rgb(0, 132, 255);}
.G b span{color:red}
.Y b{color: red;}

.section-6{
    background-color: rgb(63, 57, 57);
    height:5%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media only screen and (max-width: 600px) {
    .section-1{
        
    }
    .section-2{
        
    }
    .section-2 div h2{
        font-size: 100%;
        margin-top:15%;
    }
    .section-2 div p{
        font-size: 105%;
    }
    .section-3{
        
    }
    .section-3 div h2{
        font-size: 110%;
        margin-top:15%;
    }
    .logoMult div img{
        width:100px;
        height: 50px;
        margin: 15px;
        position:relative;
    }
    
    .section-4{
        height: 200%;
    }

    .section-4 div h2{
        font-size: 110%;
        margin-top:15%;
    }
    .section-4-corp{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section-4-corp div h3{
        font-size: 100%;
    }

    .section-5{
        height: 60%;
        font-size: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-5 div{
        margin: 1%;
        text-align: center;
    }
  }