.navbarrClas{
    color: rgb(63, 57, 57);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index:1;
    transition: 1s;
}
.navmenu{
    display: flex;
    align-items: center;
    margin-left: 50%;
}
.navmenu div a{
    text-decoration:none;
    color: black;
    height: 30px;
    margin: 20px;
}
.navmenu div a:hover{
    color: rgb(127, 64, 187);
    cursor: pointer;
}
.Logo a{
    text-decoration:none;
    margin: 15px;
    color: white;
}

.anim-navbarr{
    background-color: white;
}
.LogoDef{
    color: rgb(127, 64, 187);
}
@media only screen and (max-width: 600px) {
    .navmenu{
        display: flex;
        justify-content:flex-start;
        margin-left: 1%;
    }
    .navbarrClas{
        display: flex;
        justify-content:flex-start;
    }

    .navmenu div a{
        font-size: 68%;
        margin: 5px;
    }
}