.Logo{  
    cursor:pointer;
    position:fixed;

}

.Logo a {
    color: black;
}

.navBarre{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size:large;
    padding:20px;
    padding-left:50px;
    padding-right:50px;
    width:90%;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menuCentral{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:20%;
}

.menuCentral div{
    padding-left:15px;
    padding-right:15px;
    cursor:pointer;
}
.menuCentral div:hover{
    background-color: black;
    border-radius: 15px;
    padding-left:15px;
    padding-right:15px;
}
.menuDroite{
    display:flex;
    justify-content: space-between;
}

.menuDroite div{
    padding-left:15px;
    padding-right:15px;
    cursor:pointer;
}

.menuDroite div:hover{
    background-color: black;
    border-radius:15px;
}

.menu-demo{
    position: fixed;
    display: flex;
}
#menu-demo2{
    visibility: collapse;
}

#menu-demo2, #menu-demo2 ul{
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
}

#menu-demo2 li{
    display:inline-block;
    position:relative;
    border-radius:0px 0px 0 0;
}

#menu-demo2 ul li{
    display:inherit;
    border-radius:0;
}

#menu-demo2 ul li:hover{
    border-radius:0;
}

#menu-demo2 ul li:last-child{
    border-radius:0 0 4px 4px;
}

#menu-demo2 ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}
#menu-demo2 li:hover ul{
    max-height:15em;
}
    
    
#menu-demo2 li:last-child li{
    background:black;
}
    
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
    background:white;
}

#menu-demo2 a{
    text-decoration:none;
    display:block;
    padding:8px 32px;
    color:#fff;
    font-family:arial;
}

#menu-demo2 ul a{
    padding:8px 0;
}

#menu-demo2 li:hover li a{
    color:#fff;
    text-transform:inherit;
}

#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
    color:#000;
}

@media only screen and (max-width: 1100px)  {
    .navBarre{
        width:100vw;
        height:8vh;

        position: fixed;
        background-color: black;
        opacity:90%;
        z-index:1;

        padding-top:3vh;
        font-size:xx-large;
    }
    .Logo{
        margin-left:10%; 
    }

    .Logo a {
        color:white;
    }
    
    .menuCentral{
        visibility: collapse;
    }
    .menuDroite{
        visibility: collapse;
    }

    .menu-demo{
        position:relative;
        display: flex;
    }

    #menu-demo2{
        visibility:visible;
    }
}