.page-1{
    animation-name:dezoom;
    animation-duration:1s;

    background:no-repeat center/100% url("../image/controlGame2.jpg");
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    display: grid;
    align-content: space-between;
}
.info{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size:large;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:80px;
}
.button_groupe{
    margin:20px;
    display: flex;
}
.button_groupe div{
    margin:10px;
    margin-top:10px;
}
button{
    background-color: #fbfffb00;
    color:white;
    border: 2px solid #fbfffb;
    border-radius: 15px;
    font-size:large;
    height:45px;
    width:160px;
    cursor:pointer;
}

button:hover{
    transition:1s;
    background-color:white;
    color: black;
}

@keyframes dezoom {
    0%   {
        background:no-repeat center/140% url("../image/controlGame2.jpg");
    }
    100% {
        background:no-repeat center/100% url("../image/controlGame2.jpg");
    }
  }


@media only screen and (max-width: 1100px)  {
    .page-1{
        background:no-repeat center/100% url("../image/controlGame2.jpg");
        background-size: 100% 110%;
        display:flex;
        justify-content:space-between;
        animation-name:none;
    }

    .info{
        padding-top:300px;
        width:100%;
    }

    .button_groupe{
        margin:20px;
    }
    .button_groupe div{
        margin:10px;
    }

    button{
        font-size:100%;
        height:35px;
        width:140px;
    }
}