.page-4{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    width:100%;
    height:100vh;
    background:no-repeat center/100% url("../image/Nintendo-Switch-OLED.jpg");
}

.titrePage4{
    text-align: center;
    color: white;
    font-size:x-large;
    padding-top:40px;
}

.infoNintendoSwitch{
    width:75%;
    padding-top:3%;
    margin-top:13%;
    bottom:0px;

    padding-left:2%;
    margin-left:10%;

    padding-right:2%;
    margin-right:10%;
    padding-bottom:2%;
    border-radius: 10px;
    color: white;

    background-color:rgba(0, 0, 0, 0.678);
}

.metrique4{
    display: flex;
    justify-content: center;
    
}

.metrique4 div {
    margin:10px;
    margin-bottom:0px;
    bottom:0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#fin{
    visibility:collapse;
}

@media only screen and (max-width: 1100px)  {
    .page-4{
        background:no-repeat center/100% url("../image/Nintendo-Switch-OLED.jpg");
        background-size: 100% 100%;
    }

    .titrePage4{
        color:black;
    }

    .infoNintendoSwitch{
        font-size: medium;
    }
    .metrique4{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px)  {
    .infoNintendoSwitch{
        font-size:small;
    }

    .metrique4 div {
        font-size: small;
        margin:5px;
        margin-bottom:0px;
    }
}